
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}

<h2>Services</h2>
<div>
    <ul>

        <li>@Html.ActionLink("Go To Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Go To Products", "Index", "Products")</li>

    </ul>
</div>
